In [1]:
import pandas as pd
import numpy as np

In [2]:
wSales = pd.read_csv("WeatherCleanNoEncoding.csv",index_col="date",parse_dates=True)

In [3]:
wSales.head()

,station_nbr,tmax,tmin,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,codesum,snowfall,preciptotal,stnpressure,sealevel,resultspeed,resultdir,avgspeed
date,,,,,,,,,,,,,,,,,,
2012-01-01,1,52.0,31.0,NaN,36.0,40.0,23.0,0.0,NaN,NaN,RA FZFG BR,NaN,0.05,29.78,29.92,3.6,20.0,4.6
2012-01-01,2,48.0,33.0,16.0,37.0,39.0,24.0,0.0,716.0,1626.0,RA,0.0,0.07,28.82,29.91,9.1,23.0,11.3
2012-01-01,3,55.0,34.0,9.0,24.0,36.0,20.0,0.0,735.0,1720.0,NaN,0.0,0.00,29.77,30.47,9.9,31.0,10.0
2012-01-01,4,63.0,47.0,4.0,28.0,43.0,10.0,0.0,728.0,1742.0,NaN,0.0,0.00,29.79,30.48,8.0,35.0,8.2
2012-01-01,6,63.0,34.0,0.0,31.0,43.0,16.0,0.0,727.0,1742.0,NaN,0.0,0.00,29.95,30.47,14.0,36.0,13.8

In [4]:
wSales.shape

(19695, 18)

In [5]:
orgColumnsSize = wSales.shape[1]

In [6]:
wSales["codesum"].fillna('', inplace =True)

In [7]:
wSales["codesum"].value_counts()

                           10229
RA BR                       1476
BR                          1431
RA                          1281
BR HZ                        400
HZ                           365
TSRA RA BR                   251
SN BR                        244
SN                           198
TS                           189
FG+ BR                       164
RA BR HZ                     147
RA DZ BR                     126
TSRA                         121
FG+ FG BR                    114
RA BR VCTS                   111
TSRA RA                       95
RA FG+ BR                     86
RA FG+ FG BR                  85
RA FG BR                      80
TS RA                         77
FG BR                         76
RA VCTS                       75
TS TSRA RA BR                 73
RA SN BR                      69
TSRA BR                       68
TSRA RA BR VCTS               67
TS TSRA                       66
VCTS                          57
SN BR HZ                      57
                           ...
FZRA SN FZFG BR UP             1
DZ BR VCTS                     1
TS TSRA RA FG+                 1
TS TSRA RA SN PL BR            1
FZRA FG+ FG FZFG BR UP         1
FZRA SN FZFG BR UP BLSN        1
RA FG BR HZ SQ                 1
SG                             1
SN FG+ FZFG HZ                 1
DZ MIFG BR                     1
RA FZRA SN UP                  1
RA DZ SN HZ                    1
RA FZRA SN FZFG BR UP          1
RA SN PL FG+ BR                1
TS TSRA GR RA BR HZ SQ         1
DZ FG+ FG HZ                   1
RA SN UP                       1
RA DZ BR UP HZ                 1
RA FG+ FG                      1
TSRA RA FG BR HZ               1
RA FZRA BR UP HZ               1
TS TSRA RA SN FG BR            1
RA DZ FG+ FG BR HZ             1
TS TSRA BR SQ                  1
TS TSRA DZ BR                  1
TSRA FG+ BR HZ                 1
DZ FZDZ SN BR                  1
TSRA RA DZ                     1
TS RA FG+ FG BR VCTS           1
TS TSRA HZ                     1
Name: codesum, Length: 449, dtype: int64

In [8]:
wSales[wSales.codesum.str.contains("\+") == True]["codesum"].value_counts().sum()

837

In [9]:
wSales.codesum.str.extract("([A-Z][A-Z])(\+)",expand=True)[0].value_counts().sum()

837

In [10]:
check = wSales.codesum.str.extract("([A-Z][A-Z])(\+)",expand=True)
check[check[0].isnull() == False]

             0  1
date
2012-01-01  FG  +
2012-01-01  FG  +
2012-01-01  FG  +
2012-01-01  FG  +
2012-01-06  FG  +
2012-01-06  FG  +
2012-01-06  FG  +
2012-01-07  FG  +
2012-01-07  FG  +
2012-01-07  FG  +
2012-01-07  FG  +
2012-01-07  FG  +
2012-01-07  FG  +
2012-01-07  FG  +
2012-01-08  FG  +
2012-01-09  FG  +
2012-01-12  FG  +
2012-01-13  FG  +
2012-01-13  FG  +
2012-01-17  FG  +
2012-01-20  FG  +
2012-01-20  FG  +
2012-01-20  FG  +
2012-01-20  FG  +
2012-01-21  FG  +
2012-01-22  FG  +
2012-01-22  FG  +
2012-01-23  FG  +
2012-01-23  FG  +
2012-01-23  FG  +
...         .. ..
2014-09-19  FG  +
2014-09-21  FG  +
2014-09-21  FG  +
2014-09-21  FG  +
2014-09-24  FG  +
2014-09-25  FG  +
2014-09-26  FG  +
2014-09-26  FG  +
2014-09-28  FG  +
2014-09-30  FG  +
2014-10-01  FG  +
2014-10-02  FG  +
2014-10-03  FG  +
2014-10-03  FG  +
2014-10-04  FG  +
2014-10-07  FG  +
2014-10-08  FG  +
2014-10-10  FG  +
2014-10-12  FG  +
2014-10-12  FG  +
2014-10-13  FG  +
2014-10-18  FG  +
2014-10-21  FG  +
2014-10-22  FG  +
2014-10-28  FG  +
2014-10-28  FG  +
2014-10-29  FG  +
2014-10-29  FG  +
2014-10-29  FG  +
2014-10-29  FG  +

[837 rows x 2 columns]

In [11]:
check[0].value_counts()

FG    837
Name: 0, dtype: int64

In [12]:
wSales[wSales.codesum.str.contains("\-") == True]["codesum"].value_counts().sum()

0

In [13]:
wSales[wSales.codesum.str.contains("\+FC") == True]["codesum"].value_counts().sum()

0

<b>Conclusion:</b><br>
All codes that have '+' are 'FG+'.<br>
No '-' or '+FC' entries.

In [14]:
# Source: Codesum Encoding Map.xlsx

wSales["funnel_cloud"] = np.where(wSales["codesum"].str.contains("FC"),1,0)
wSales["thunderstorm"] = np.where(wSales["codesum"].str.contains("TS"),1,0)
wSales["hail"] = np.where(wSales["codesum"].str.contains("GR"),1,0)
wSales["rain"] = np.where(wSales["codesum"].str.contains("RA"),1,0)
wSales["drizzle"] = np.where(wSales["codesum"].str.contains("DZ"),1,0)
wSales["snow"] = np.where(wSales["codesum"].str.contains("SN"),1,0)
wSales["snow_grains"] = np.where(wSales["codesum"].str.contains("SG"),1,0)
wSales["small_hail"] = np.where(wSales["codesum"].str.contains("GS"),1,0)
wSales["ice_pellets"] = np.where(wSales["codesum"].str.contains("PL"),1,0)
wSales["ice_crystals"] = np.where(wSales["codesum"].str.contains("IC"),1,0)
wSales["heavy_fog"] = np.where(wSales["codesum"].str.contains("FG\+"),1,0)
wSales["fog"] = np.where(wSales["codesum"].str.contains("FG"),1,0)
wSales["mist"] = np.where(wSales["codesum"].str.contains("BR"),1,0)
wSales["unknown_precip"] = np.where(wSales["codesum"].str.contains("UP"),1,0)
wSales["haze"] = np.where(wSales["codesum"].str.contains("HZ"),1,0)
wSales["smoke"] = np.where(wSales["codesum"].str.contains("FU"),1,0)
wSales["volcanic_ash"] = np.where(wSales["codesum"].str.contains("VA"),1,0)
wSales["widespread_dust"] = np.where(wSales["codesum"].str.contains("DU"),1,0)
wSales["duststorm"] = np.where(wSales["codesum"].str.contains("DS"),1,0)
wSales["sand_dust_whirls"] = np.where(wSales["codesum"].str.contains("PO"),1,0)
wSales["sand"] = np.where(wSales["codesum"].str.contains("SA"),1,0)
wSales["sandstorm"] = np.where(wSales["codesum"].str.contains("SS"),1,0)
wSales["spray"] = np.where(wSales["codesum"].str.contains("PY"),1,0)
wSales["squall"] = np.where(wSales["codesum"].str.contains("SQ"),1,0)
wSales["low_drifting"] = np.where(wSales["codesum"].str.contains("DR"),1,0)
wSales["shower"] = np.where(wSales["codesum"].str.contains("SH"),1,0)
wSales["freezing"] = np.where(wSales["codesum"].str.contains("FZ"),1,0)
wSales["shallow"] = np.where(wSales["codesum"].str.contains("MI"),1,0)
wSales["partial"] = np.where(wSales["codesum"].str.contains("PR"),1,0)
wSales["patches"] = np.where(wSales["codesum"].str.contains("BC"),1,0)
wSales["blowing"] = np.where(wSales["codesum"].str.contains("BL"),1,0)
wSales["vicinity"] = np.where(wSales["codesum"].str.contains("VC"),1,0)

In [15]:
wSales.fog.sum()

1307

In [16]:
wSales.heavy_fog.sum()

837

In [17]:
wSales.codesum[wSales.codesum.str.contains("FG")].value_counts().sum()

1307

In [18]:
wSales.codesum[wSales.codesum.str.contains("FG\+")].value_counts().sum()

837

In [19]:
1307+837

2144

In [20]:
# Encode heavy fog with '2'
wSales.fog += wSales.heavy_fog

In [21]:
wSales.fog.sum()

2144

In [22]:
wSales.fog[wSales.codesum.str.contains("FG\+")].value_counts()

2    837
Name: fog, dtype: int64

In [23]:
wSales.drop("heavy_fog",axis=1,inplace=True)

In [24]:
wSales[wSales["codesum"].str.contains("FZRA")].shape

(125, 49)

In [25]:
wSales[wSales["codesum"].str.contains("FZRA")].rain.sum()

125

In [26]:
wSales[wSales["codesum"].str.contains("FZRA")].freezing.sum()

125

In [27]:
wSales[wSales["codesum"].str.contains("FZRA")][["codesum","freezing","rain"]].sum()

codesum     RA FZRA FG+ FG BR UPFZRA FG+ FZFG UPFZRA SN BR...
freezing                                                  125
rain                                                      125
dtype: object

In [28]:
wSales[wSales["codesum"].str.contains("BR") == True].shape

(6359, 49)

In [29]:
wSales["mist"].sum()

6359

In [30]:
wSales.iloc[:,orgColumnsSize:].head()

,funnel_cloud,thunderstorm,hail,rain,drizzle,snow,snow_grains,small_hail,ice_pellets,ice_crystals,...,spray,squall,low_drifting,shower,freezing,shallow,partial,patches,blowing,vicinity
date,,,,,,,,,,,,,,,,,,,,,
2012-01-01,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2012-01-01,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2012-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2012-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2012-01-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
wSalesSum = wSales.iloc[:,orgColumnsSize:].sum()
wSalesSum

funnel_cloud           0
thunderstorm        1888
hail                   3
rain                5325
drizzle              497
snow                1008
snow_grains            1
small_hail             5
ice_pellets           20
ice_crystals           0
fog                 2144
mist                6359
unknown_precip       230
haze                1482
smoke                 33
volcanic_ash           0
widespread_dust       28
duststorm              0
sand_dust_whirls       0
sand                   0
sandstorm              9
spray                  0
squall                14
low_drifting           0
shower                 0
freezing             332
shallow               52
partial                1
patches              111
blowing               59
vicinity             571
dtype: int64

In [32]:
blankCodes = wSalesSum[wSalesSum == 0]
blankCodes

funnel_cloud        0
ice_crystals        0
volcanic_ash        0
duststorm           0
sand_dust_whirls    0
sand                0
spray               0
low_drifting        0
shower              0
dtype: int64

In [33]:
blankCodes.index.values

array(['funnel_cloud', 'ice_crystals', 'volcanic_ash', 'duststorm',
       'sand_dust_whirls', 'sand', 'spray', 'low_drifting', 'shower'], dtype=object)

In [34]:
wSales.iloc[:,orgColumnsSize:].shape

(19695, 31)

In [35]:
wSales.drop(blankCodes.index.values,axis=1).iloc[:,orgColumnsSize:].shape

(19695, 22)

In [36]:
wSales.iloc[:,orgColumnsSize:].shape[1] - wSales.drop(blankCodes.index.values,axis=1).iloc[:,orgColumnsSize:].shape[1]

9

In [37]:
len(blankCodes)

9

In [38]:
wSales.drop(blankCodes.index.values,axis=1,inplace=True)

In [39]:
wSales.iloc[:,orgColumnsSize:].shape

(19695, 22)

In [40]:
wSales.head()

,station_nbr,tmax,tmin,depart,dewpoint,wetbulb,heat,cool,sunrise,sunset,...,smoke,widespread_dust,sandstorm,squall,freezing,shallow,partial,patches,blowing,vicinity
date,,,,,,,,,,,,,,,,,,,,,
2012-01-01,1,52.0,31.0,NaN,36.0,40.0,23.0,0.0,NaN,NaN,...,0,0,0,0,1,0,0,0,0,0
2012-01-01,2,48.0,33.0,16.0,37.0,39.0,24.0,0.0,716.0,1626.0,...,0,0,0,0,0,0,0,0,0,0
2012-01-01,3,55.0,34.0,9.0,24.0,36.0,20.0,0.0,735.0,1720.0,...,0,0,0,0,0,0,0,0,0,0
2012-01-01,4,63.0,47.0,4.0,28.0,43.0,10.0,0.0,728.0,1742.0,...,0,0,0,0,0,0,0,0,0,0
2012-01-01,6,63.0,34.0,0.0,31.0,43.0,16.0,0.0,727.0,1742.0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
wSales.to_csv("WeatherCleanWithEncoding.csv")